<%- include('partials/header.ejs') %>



<h1>Welcome to the add page</h1>

<form action="/word" method="POST">
    <input type="text" placeholder="anime word" name="animeWord" id="">
    <input type="text" placeholder="meaning" name="meaning" id="">
    <button type="submit" id="submit">Submit</button>
</form>




<%- include('partials/footer.ejs') %>
