<%- include('partials/header.ejs') %>




<h1>Welcome to the delete page</h1>


<form action="/delete" method="POST">
    <input type="text" placeholder="anime word" name="animeWord" id="">
    <button type="submit" id="submit">Submit</button>
</form>


<%- include('partials/footer.ejs') %>
